[user]
	name = Felix Yan
	email = felixonmars@archlinux.org
	signingkey = felixonmars@archlinux.org
[color]
	ui = true
[push]
	default = simple
[alias]
	pushall = "!f(){ for i in `git remote`; do git push $i master; done; };f"
    pullall = "!f(){ for i in `git remote`; do git pull $i master; done; };f"
    commit = commit -S
	a  = add
	ai = add -i
	b  = branch
	c  = commit -S
	ci = commit -S
	cp = cherry-pick
	cs = commit --signoff
	cm = commit -S --amend
	co = checkout
	dc = difftool --cached
	d  = difftool
    fp = format-patch
	lg = log --graph
	l  = log
	lp = log --graph --pretty=format:'%Cred%h%Credreset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	m  = mergetool
	rb = rebase
	t  = tag
	ut = rm -r --cached
[pull]
	rebase = true
[gitreview]
	username = felixonmars
	remote = origin
[core]
	pager = diff-so-fancy | less --tabs=1,5 -R
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[http "https://gopkg.in"]
	followRedirects = true
